body{
	// background-color: #f2f2f2;
	background-image: url("../img/bg.png");
}

.heading-font{
	font-family: $heading-font;
}

.img-thumbnail{
	border-radius: 0px;
}

.vresize {
  resize: vertical; 
}