.buynow{
 border:1px solid #FF0000; -webkit-border-radius: 1px; -moz-border-radius: 1px;border-radius: 1px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #E63629; background-image: -webkit-gradient(linear, left top, left bottom, from(#E63629), to(#912626));
 background-image: -webkit-linear-gradient(top, #E63629, #912626);
 background-image: -moz-linear-gradient(top, #E63629, #912626);
 background-image: -ms-linear-gradient(top, #E63629, #912626);
 background-image: -o-linear-gradient(top, #E63629, #912626);
 background-image: linear-gradient(to bottom, #E63629, #912626);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E63629, endColorstr=#912626);
 padding: 5px 10px;
 &:hover{
	 border:1px solid #971b12;
	 background-color: #c52317; background-image: -webkit-gradient(linear, left top, left bottom, from(#c52317), to(#691b1b));
	 background-image: -webkit-linear-gradient(top, #c52317, #691b1b);
	 background-image: -moz-linear-gradient(top, #c52317, #691b1b);
	 background-image: -ms-linear-gradient(top, #c52317, #691b1b);
	 background-image: -o-linear-gradient(top, #c52317, #691b1b);
	 background-image: linear-gradient(to bottom, #c52317, #691b1b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#c52317, endColorstr=#691b1b);
 }
}