@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

$primary-color: #DADADA;
$secondary-color: #e20202;

$lightbg: #40434c;
$darkbg: #363941;
$yellow: #ffcc00;


$heading-font: 'Berkshire Swash', cursive;
