.thanka1{
	padding: 40px 0px; 
	h2{
		margin-bottom: 40px;
	}
	.card{
		background-color: white;
		padding: 10px;
		margin: 20px 0px;
	}
}

.video{
	padding: 15px;
}


.viewmore{
	margin-top: 20px;
	a {
		text-decoration: none;
		color: $darkbg;
		transition: 0.3s;
	}
	a:hover, a:active, a:focus{
		color: #000 !important;
	}
	.btnview{
		background-color: $darkbg;
		color: white;
		background-color: none;
		border-radius: 0px;
		font-size: 16px;
		padding: 5px 20px; 
	}
}

.effect3
{
  position: relative;
}
.effect3:before
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}